[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rd_party/GSL"]
	path = 3rd_party/GSL
	url = https://github.com/Microsoft/GSL
[submodule "3rd_party/yaml-cpp"]
	path = 3rd_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
