[submodule "fmt"]
	path = 3rd_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rd_party/GSL"]
	path = 3rd_party/GSL
	url = https://github.com/Microsoft/GSL
[submodule "3rd_party/yaml-cpp"]
	path = 3rd_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "3rd_party/pybind11"]
	path = 3rd_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "3rd_party/lexy"]
	path = 3rd_party/lexy
	url = https://github.com/foonathan/lexy.git
